#galeria .col-lg-6 {
    margin: 0 !important;
    padding: 15px;
}

#galeria img {
    width: 100%;
}

#galeria img:hover {
    border: 5px solid #000;
}

#galeria h1 {
    color: white;
}

#galeria p {
    color: white;
}
