/* Talents */
.talents {
    padding: 10px;
    background-image: url(../assets/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.kanae {
    border: white solid 2px;
    border-radius: 20px;
    height: 850px;
}

.kuzuha {
    border: white solid 2px;
    border-radius: 20px;
    height: 850px;
}

.talents {
    align-items: center;
    display: flex;
    justify-content: center;

}

.talents h1 {
    color: white;
    text-align: center;
    height: 21px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
}

.iframe {
    margin: 5rem;
  }
  