*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Reset, eliminar estilos de navegadores, border box para evitar scroll horizontal */

