/* header */
header {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    
  }
  
  .logo {
    display: flex;
  }
  
  .logo img {
    height: 45px; 
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .navbar {
    display:flex;
    padding: 10px;

    &_list {
      display: flex;
      justify-content: right;
      padding: 12px;
      margin-right: 50px;
      box-sizing: border-box;

       a {
        margin: 5px;
        color: white;
        font-size: 1.3rem;

          &:hover {
            color: $primary;
            transition: color 0.4s ease-in-out 0s;
          }

      }

  }

  }
  /* header final */

  /* menu hamburgesa */
.hamburger-menu {
    display: none;
  }
  #menutoggle {
    opacity: 0;
  }
  #menutoggle:checked + .menubtn > span {
    transform: rotate(45deg);
  }
  #menutoggle:checked + .menubtn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menutoggle:checked + .menubtn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menutoggle:checked ~ .menubox {
    left: 0 !important;
  }
  .menubtn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    z-index: 1;
  }
  .menubtn > span,
  .menubtn > span::before,
  .menubtn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .5s;
  }
  .menubtn > span::before {
    content: '';
    top: -8px;
  }
  .menubtn > span::after {
    content: '';
    top: 8px;
  }
  .menubox {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #000000;
    box-shadow: 2px 2px 6px rgb(0, 0, 0);
    transition-duration: .5s;
  }
  .menuitem {
    display: block;
    padding: 12px 24px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menuitem:hover {
    background-color: rgba(223, 36, 80, 0.932);
  }

  /* final menu */